.card {
    border: 1px solid rgb(247, 173, 15);
    background-color: white;
    padding: 2%;
    border-radius: 8px;
    margin: 5%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

h4 {
    font-size: 20px;
    margin: 10px 10px 10px 25px;
}

.descripcion-item {
    display: flex-start;
    margin: 10px 10px 10px 25px;
}

.precio-item{
    display: flex-start;
    margin: 10px 10px 10px 25px;
    font-weight: bold;
}

.cardimage{
    display: inline-block;
    border-color: black;    
}

.carddata{
    display: inline-block;
    text-align: start;
}